body{
  background: #471049;
  color: white;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

.navbar-custom {
  background: rgb(26,6,29);
  border: none;
}

.navbar-custom a:focus {
  outline: none;
}

.navbar-custom .navbar-brand {
  color: white;
}

.navbar-custom .navbar-brand:hover,
.navbar-custom .navbar-brand:focus,
.navbar-custom .navbar-brand:active,
.navbar-custom .navbar-brand.active {
  color: white;
}

.navbar-custom .navbar-nav li a {
  color: white;
}

.navbar-custom .navbar-nav li a:hover {
  color: #CFCFCF;
  outline: none;
}

.page-scroll{
  font-size: 14px;
  left: auto;
}

.navbar-brand{
  font-size: 22px;
}

section {
  padding: 100px 0;
}

section h2 {
  margin: 0;
  font-size: 3em;
}

section.success {
  background: yellow;
  color: white;
}

footer .footer-below {
  padding: 15px 0px;
  background-color: rgb(26,6,29);
}

#mainNav{
  padding: 10px;
}

hr.style-seven {
   border: 0;
   height: 0;
   box-shadow: 0 0 7px 2px black;
   background: white;
}

hr.style-seven:after {
   content: "\00a0";
}

#titulo{
  padding-top: 100px;
}

textarea{
  color:black;
}

.botao{
  color: black;
}
